@mixin linearGrad($top, $bottom) {
  background:
    linear-gradient(
      to bottom,
      $top 0%,
      $bottom 100%
    );
}

$primaryWhite: #f7f7f7;
$primaryBlack: #333;
$borderRadius: 7px;
$niceRed: #e798a9;
$niceBlue: #9ce9fe;
$standardWidth: 270px;
