@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include linearGrad(#78c75c, #ade799);
}

h1 {
  color: $primaryWhite;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 400px;
  padding: 0;

  > li {
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 1em;
  }
}
